root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_style_var_elsewhere = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_expression_bodied_methods = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_null_check = true:warning

[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false